html,
body {
    background-color: black;
    color: white;
}

@media screen and (max-width: 359px) {
    .defense {
        float: right !important;
        width: 40% !important;
        text-align: right !important;
    }

    .offense {
        float: left !important;
        width: 40% !important;
        text-align: left !important;
    }
}

.navbar {
  border-radius: 0px;
}

.noborder {
    border-color: black !important;
}

#scoreboard {
    min-width: 70px;
    margin: 0px;
    padding: 0px;
}

#team1score,
#team2score {
  font-size: 22px;
}


.btn {
    width: 200px;
    margin: 5px 0px 5px 0px;
}

#rawData div,
#computedData div {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.notop {
    border-top-color: black !important;
}

th {
    text-align: center;
}

.hold {
  background-color: #66af56;
}

.break {
  background-color: #0be00b;
}

.conceded {
  background-color: #af5856;
}

.broken {
  background-color: #e00b0b;
}

.perfect {
  font-weight: bolder;
}

.half {
  background-color: #5bc0de;
  font-weight: bolder;
}
