html,
body {
    background-color: black;
    color: white;
}

@media screen and (max-width: 359px) {
    .smaller div {
        max-width: 40%;
    }
}

.btn {
    width: 200px;
    margin: 5px 0px 5px 0px;
}

#rawData div,
#computedData div {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

th {
    text-align: center;
}

.hold {
  background-color: #5cb85c;
}

.break {
  background-color: #0be00b;
}

.conceded {
  background-color: #d9534f;
}

.broken {
  background-color: #e00b0b;
}

.perfect {
  font-weight: bolder;
}
